Form {
  display: flex;
  gap: 16px;
  padding: 20px;
  justify-content: center;
}

.input {
  color: black;
  background-color: rgba(230, 226, 226, 0.779);
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  width: 272px;
}
